/* calculator */
li{
  list-style-type: none;
}
.calculator {
  background-color: #f8f8f8;
  border: 2px solid #a1a1a1;
  max-width: 300px;
}

.interface {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.interface p {
  font-size: 20px;
  margin: 5px 3px;
}

.history {
  width: 100%;
  border: 2px solid #a1a1a1;
  text-align: right;
  margin-top: 15px;
  background-color: #fdfdfd;
}

.result {
  text-align: right;
  margin: 25px 0;
  border: 2px solid #a1a1a1;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 25%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.section-2 {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.section-up {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section {
  margin-top: 20px;
}

.equalOperator {
background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
}

.equalOperator:hover {
  background-color: #4e9ed4;
}
.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
  margin-right: 50px;
}

.all-clear:hover {
  background-color: #f17377;
}

button {
  font-size: 20px;
  height: 40px;
  width: 40px;
  border: 2px solid #a1a1a1;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
      text-shadow: 0 1px rgba(255, 255, 255, .4);
}

button:hover {
  background-color: #eaeaea;
}
